// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$brown: #8C3D3D;
$beige: #ddbea9;
$cream: #FFE8D6;
$light-green: #B7B7A4;
$sage-green: #A5A58D;
$olive-green: #6B705C;
