
.caterers-title {
  padding: 50px;
  font-size: 60px;
  text-align: center;
  color: black;
}

#caterer-cards {
  .card {
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 8px;
    background-color: white;
    color: black;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  color: black;
  border-radius: 8px;
  box-shadow: 20px;
  font-weight: bold;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  background-color: #6B705C;

}

.footer-links {
  i {
    font-size: 25px;
    color: #464a3d;
  }
}

.footer-links:hover  {
  i {
color:#464a3d;
  }
}
