
.caterers-title {
  padding: 50px;
  font-size: 60px;
  text-align: center;
}

#caterer-cards {
  .card {
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 8px;
    background-color: white;
  }
}
