.body{
  background-color:#B7B7A4 ;
  font-size: 40px;
  padding: 50px;
}

.caterers-title {
  background-color:#B7B7A4  ;
  padding: 50px;
  font-size: 60px;
  text-align: center;
}

#caterer-cards {
  .card {
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 15px;
    background-color: #B7B7A4;
  }
}
