#caterer {

  h1 {
    font-size: 70px;
    padding-bottom: 40px;
    padding-top: 50px;
    text-align: center;
  }
  h2 {
    font-size: 45px;
    padding-bottom: 30px;
    letter-spacing: 2px;
  }
}

.caterer-details {
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  // display: flex;
}

.caterer-txt {
margin-right: 40px;
}

.caterer-position {
  display: flex;
}

.caterer-img {
// image-size
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $brown;
  transition: background 0.3s ease;
  width: 250px;
  height: 45px;
  margin-top: 20px;
  background-color: #45483b;
}

.btn-flat:hover {
  background: $olive-green;
  color: white;
}

.btn-back {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $olive-green;
  transition: background 0.3s ease;
  margin-bottom: 30px;
  margin-top: 30px;
}

.arrow {
  color: $olive-green;
  font-size: 36px;
  margin-top: 30px;
}

.btn-back:hover {
  background:#45483b;
  color: white;
}

.bi-currency-dollar {
  font-weight: bold;
}

.caterer-position {
  justify-content: space-between;
  align-items: center;
}
