body {
  background-color: $light-green;
  margin-left: 30px;
  margin-top: 40px;
  text-align: center;
}

h1 {
  font-size: 60px;
  padding-bottom: 40px;
  padding-top: 50px;
}

h2 {
  font-size: 40px;
  padding-bottom: 30px;
}

.container {
  max-width: 60%;
}

.details {
  text-align: start;
  line-height: 1.5;
}




.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}
