
<p><% @received_bookings.each do |booking| %>
  <%= simple_form_for(booking, url: booking_path(booking), method: :patch) do |f| %>
    <%= f.submit(booking.confirmed ? 'Accepted' : 'Accept', class: "btn-flat") %>
  <% end %>

  <%= simple_form_for(booking, url: booking_path(booking), method: :patch) do |f| %>
    <%= f.submit(booking.confirmed ? 'Decline' : 'Decline', class: "btn-flat") %>
  <% end %>

<% end %></p>
