.accordion {
  --bs-accordion-btn-color: #6B705C;
  --bs-accordion-btn-bg: #B7B7A4;
  --bs-accordion-border-color: #6B705C;
  --bs-accordion-bg: #B7B7A4;
  --bs-accordion-active-bg: #A5A58D;
  --bs-accordion-active-color: #FFE8D6;
}
