.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $brown;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #682a2a;
  color: white;
}

.btn-action {
  padding: 4px 8px;
  font-size: large;
  display: block;
}

.btn-icon-check {
  color: $green;

  :hover {
    color: $light-green;
  }
}

.btn-icon-cancel {
  color: $red;

  :hover {
    color: $brown;
  }
}
