.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $brown;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #682a2a;
  color: white;
}

.btn-action {
  padding: 16px 16px;
  font-size: large;

  .btn-check {
    color: $green;

    :hover {
      color: $light-green;
    }
  }

  .btn-cancel {
    color: $red;

    :hover {
      color: $brown;
    }
  }
}
