.card-entry {
  overflow: hidden;
  background: #6B705C;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px, black;
  margin: 20px;
  border-radius: 2px;
  color: $cream;
  text-align: left;
  height: 250px;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: $cream;
  };
}

.card-entry > img {
  height: 200px;
  width: 200px;
  position: center;
  margin-left: 20px;
}

.card-entry h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-entry p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-entry .card-entry-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-entry-infos .card-entry-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
