.navbar-lewagon {
  justify-content: space-between;
  background: $olive-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px
}

.nav-link {
  color: $cream;
  transition: color 0.3s;

  :hover {
    color: $dark-olive-green;
  }
}

.dropdown-item,
.dropdown-menu {
  background-color: $light-green;

  :hover {
    background-color: $sage-green;
  }
}
